<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/fonts.css"/>
        <script src="javascripts/jquery-1.11.1.min.js"></script>
        <script src="javascripts/jquery.navigate.min.js"></script>
        <script src="javascripts/foodie.js"></script>
        <script src="javascripts/foodieResults.js"></script>
    </head>
    <body>
        <div class="darkOverlay opacity2">
            <div class="noFocus">
                <div class="ultimateFoodie">The Ultimate Foodie</div>
                <div class="basedOn">Based on your answers, we think you'll like these shows. </div>
                <div class="newRecommended">You can tune to the show for more information by selecting it!</div>
            </div>
            <form name="retakeForm" action="../retakeQuiz" method="POST">
                <div class="retakeQuiz navigate">
                    <a href="#" onclick="javascript:document.forms['retakeForm'].submit()">Retake the quiz</a>
                </div>
            </form>
            <div id="resultsHolder" class="resultSection"></div>
        </div>

        <div id="confirmOverlay" class="displayNone">
           <div class="blueTVBanner"></div>
           <div class="notificationSent" id="tuneTo"></div>
        </div>

        <input type="hidden" name="chefSelected" value="<%=chef%>"/>
    </body>
</html>



