<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/fonts.css"/>
        <script src="javascripts/jquery-1.11.1.min.js"></script>
        <script src="javascripts/jquery.navigate.min.js"></script>
        <script src="javascripts/foodie.js"></script>
        <script>
            $(function(){
                $('.darkOverlay .cuisine').navigate()
            });
        </script>
    </head>
    <body>
        <div class="darkOverlay opacity2">
            <div class="top3Cuisines">Your top 3 favorite cuisines?</div>
            <div class="drinkSection">
                <div onclick="selectCuisine(this,'American');" class="cuisine American">
                    <div class="gradient">
                        <div class="cuisineKind">American</div>
                    </div>
                    <div id="American" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'Chinese');" class="cuisine Chinese">
                    <div class="gradient">
                        <div class="cuisineKind">Chinese</div>
                    </div>
                    <div id="Chinese" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'Carribean');" class="cuisine Carribean">
                    <div class="gradient">
                        <div class="cuisineKind">Carribean</div>
                    </div>
                    <div id="Carribean" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'French');" class="cuisine French">
                    <div class="gradient">
                        <div class="cuisineKind">French</div>
                    </div>
                    <div class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'Indian');" class="cuisine Indian">
                    <div class="gradient">
                        <div class="cuisineKind">Indian</div>
                    </div>
                    <div id="Indian" class="cuisineSelected displayNone"></div>
                </div>
            </div>
            <div class="drinkSection">
                <div onclick="selectCuisine(this,'American');" class="cuisine Italian">
                    <div class="gradient">
                        <div class="cuisineKind">Italian</div>
                    </div>
                    <div id="Italian" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'Japanese');" class="cuisine Japanese">
                    <div class="gradient">
                        <div class="cuisineKind">Japanese</div>
                    </div>
                    <div id="Japanese" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'Mexican');" class="cuisine Mexican">
                    <div class="gradient">
                        <div class="cuisineKind">Mexican</div>
                    </div>
                    <div id="Mexican" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'MiddleEastern');" class="cuisine MiddleEastern">
                    <div class="gradient">
                        <div class="cuisineKind">Middle Eastern</div>
                    </div>
                    <div id="MiddleEastern" class="cuisineSelected displayNone"></div>
                </div>
                <div onclick="selectCuisine(this,'SoutheastAsian');" class="cuisine SoutheastAsian">
                    <div class="gradient">
                        <div class="cuisineKind">Southeast Asian</div>
                    </div>
                    <div id="SoutheastAsian" class="cuisineSelected displayNone"></div>
                </div>
            </div>
        </div>
        <form name="cuisineForm" action="../goToDrinksPage" method="post"></form>
    </body>
</html>
